.m-button {
    text-align: center;
    display: block;
    color: #2072cf;
}
.m-button.disabled {
    background: #ccc;
    color: #fff;
}
.m-button-corner {
    border-radius: 10rem;
}
.m-red-button {
    background-color: #ff2244;
    color: #fff;
}
.m-red-button:active {
    background-color: #ea0c2e;
}
.m-blue-button {
    background-color: #2072cf;
    color: #fff;
}
.m-blue-button:active {
    background-color: #125ca9;
}








