.m-button {
    text-align: center;
    display: block;
    color: #2072cf;
}
.m-button.disabled {
    background: #fff;
    color: #ccc;
}
.m-button:not(.disabled):active {
    color: #125ca9;
}
.m-button-corner {
    border-radius: 10rem;
}
.m-red-button {
    background-color: #ff2244;
    color: #fff;
}
.m-button.m-red-button:active {
    background-color: #ea0c2e;
    color: #fff;
}
.m-orange-button {
    background-color: #ff9320;
    color: #fff;
}
.m-button.m-orange-button:active {
    background-color: #f38111;
    color: #fff;
}
.m-blue-button {
    background-color: #2072cf;
    color: #fff;
}
.m-button.m-blue-button:active {
    background-color: #125ca9;
    color: #fff;
}
.m-button.m-blue-button.disabled,.m-button.m-red-button.disabled,.m-button.m-orange-button.disabled  {
    background: #ccc;
    color: #fff;
}
.m-button-border {
    border: 1px solid #2072cf;
}








